<nav class="bg-gray-600">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-shrink-0 flex space-x-4 items-center">
        <img routerLink="/" class="hidden lg:block h-8 w-auto cursor-pointer" src="https://comptoir-du-libre.org/img/files/Users/photo/2706/avatar/sigle_telecom_350.png" alt="Workflow">
         <span class = "text-white text-sm font-medium">Angular Project</span>
      </div>
      <div class="flex space-x-10">
        <button class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium" type="button" routerLink="/products">
          Products List
        </button>
        <button class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium" type="button" routerLink="/users">
          Users List
        </button>
        <button class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium" type="button" routerLink="/orders">
          Orders List
        </button>
      </div>
      <button class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium " type="button" routerLink="/form">
        Contact us
      </button>
    </div>
  </div>
</nav>
